* {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #001529;
  padding: 3rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  margin: 1rem 3rem;
}

.text-center {
  text-align: center;
}

.text-light {
  color: white;
}

.about-item {
  margin-bottom: 2rem;
}
